
  .rewards {
    padding: 25px;
  }
  
  h1 {
    color: #320303f4;
    font-size: 2.3em;
    text-decoration: underline;
    margin-bottom: 45px;
  }


  h2 {
    color: #072459f4;
    font-size: 1.8em;
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 70px;
  }
  
  th, td {
    border: 1px solid #0e0101;
    padding: 8px;
  }
  
  th {
    font-size: 1.3em;
    background-color: aliceblue;
    text-align: center;
  }